/* leave some extra space here because our server cannot parse [ [  tags */


.navbar-fixed-top{
	position:static;
	margin-bottom: 20px;
}
#theme_screenreader_navigation-bar{
	background:#FFFFCC;
	padding:10px;
	margin:5px;
	border:2px solid black;
	z-index:1111;
	margin-top: -55px; /* this is to override fixed navbar behavior */
}

