/*
	this is to override fixed navbar behavior
 */
body{
	padding-top: 0;
}
.navbar-fixed-top{
	position:static;
	margin-bottom: 20px;
}
#theme_screenreader_navigation-bar{
	background:#FFFFCC;
	padding:10px;
	margin:5px;
	border:2px solid black;
	z-index:1111;
}